{% extends 'base.html'%}
{% load dict_filters %}
{% load i18n %}
{% block title %}Текущие заказы{% endblock title %}
{% block content %}
{% if dates %}
        <ul class="paginator-links">
        {% for sub_date in dates %}
            <li>
                <a class="paginator" href='{% url "kitchen:orders_for_date" sub_date %}'>{{ sub_date }}</a>
            </li>
        {% endfor %}
        </ul>
    {% endif %}
{% if order_data %}
<br><br>
    <h1>Заказы на {% blocktranslate %} {{ date }} {% endblocktranslate %} </h1>
{% endif %}
{% for organization, users in order_data.items %}
<h3 class="org-title"><a href="{% url 'kitchen:organization-detail-update' organization.id %}">{{ organization.name }}</a></h3>
<div class="card-deck">
    {% for user, order_offerings_and_carts in users.items %}
      <div class="card border-warning"">
        <div class="card-header text-dark bg-warning"><h4 style="font-weight: bold;">{{user.username}}</h4></div>
          {% if order_offerings_and_carts.order_offerings.items %}
        <div class="card-body">
          <h5 class="card-title" style="font-weight: bold;">Заказы пользователя:</h5>
            {% for order_offering, offering in order_offerings_and_carts.order_offerings.items %}
            <div class="order">
                <p class="card-text">{{ offering.position }} (Порция: {{ order_offering.portions.Position.portion }})</p>
                {% for garnish in offering.garnish.all  %}
                    <p class="card-text">Гарнир: {{ garnish }}, ({{ order_offering.portions.Garnish.portion }})</p>
                {% endfor %}
                {% for additional in offering.additional.all %}
                    <p class="card-text">Дополнение: {{ additional }}, ({{ order_offering.portions.Additional.portion }})</p>
                {% endfor %}
                 <hr>
                </div>
            {% endfor %}
          {% endif %}
          {% if order_offerings_and_carts.carts.items %}
          <h5>Корзины пользователя:</h5>
            {% for cart, offering in order_offerings_and_carts.carts.items %}
                <p class="card-text">{{ offering.position }} (Порция: {{ cart.portions.Position.portion }})</p>
                {% for garnish in offering.garnish.all  %}
                    <p class="card-text">Гарнир: {{ garnish }}, ({{ cart.portions.Garnish.portion }})</p>
                {% endfor %}
                {% for additional in offering.additional.all %}
                    <p class="card-text">Дополнение: {{ additional }}, ({{ cart.portions.Additional.portion }})</p>
                {% endfor %}
            {% endfor %}
            {% endif %}
            </div>
        <div class="card-footer">
            <p class="card-text">ОБЩАЯ СУММА: {{ order_offerings_and_carts.total_sum }} сом</p>
        </div>
      </div>
    {% endfor %}
</div>
<div>
    <br>
    <h5>Общая сумма для {{ organization.name }}: {{ organizations|get_item:organization }} сом</h5></div>
<br>
<hr>
{% empty %}
<br>
    <h2 class="text-center">Нет предстоящих заказов</h2>
{% endfor %}
{% endblock %}