{% extends 'base.html' %}
{% block profile %}
    <a class="nav-link" href="{% url 'user_update' %}">Редактировать профиль<span class="sr-only"></span></a>
    <a href="{% url 'employee-transactions' user.id %}">История транзакций</a>
{% endblock profile %}


{% block content %}
    <h1 class="text-center">Профиль пользователя</h1>

    <div class="card text-center">
      <div class="card-header">
        Привет, {{ user.username }}!
      </div>
      <div class="card-body">
        <p>Ваша организация: {{ user.organization_id.name }}</p>
        {% if user.is_active %}
            <p>Ваш текущий статус: Активен</p>
        {% else %}
            <p>Ваш текущий статус: Неактивен</p>
        {% endif %}
        <p>Ваш текущий баланс: {{ user.total_balance }} сом </p>
      </div>
      <div class="card-footer text-muted">
        <p>Ваш активный заказ: </p>
      </div>
    </div>

{% endblock %}