{% extends "base.html" %}
{% load static %}
{% block title %}Create position{% endblock %}
{% block content %}
{{ type|json_script:'types' }}
    <div>
        <h1>Новая позиция</h1>
        <form id="myForm" action="{% url 'kitchen:create_position' %}" method="post" enctype="multipart/form-data">
            {% include "partial/position_form.html"  %}
            <btn class='btn' type="submit" id="add" onclick="addExtra(event);">Добавить дополнительные цены</btn>
			<div class="selects" id="selects"></div>
			<p><input type="submit" value="Создать"></p>
        </form>
    </div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="{% static 'js/position.js' %}"></script>
{% endblock %}