{% extends 'base.html'%}
{% block content %}
    <div class="mt-4">
        {% if dishes %}
            <div class="d-flex justify-content-center">
                {% include "partial/search_form.html" %}
            </div>

        {% endif %}
    </div>

        {% if dishes %}        <div class="header-info-block"><h1 class="text-center mt-4">Позиции</h1></div>{% endif %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

  {% for dish in dishes %}
  {#  Single Card Template:#}
  <div class="card" style="width: 18rem; margin: 10px">
      <img class="card-img-top w-auto h-50" src="/uploads/{{ dish.image }}" alt="Card image cap">
    <div class="card-body">
    {% if admin %}
    <h5 class="card-title text-center text-uppercase"><a href="{% url 'kitchen:detail_update_position' dish.pk %}">{{ dish.name }}</a></h5>
    {% else %}
        <h5 class="card-title text-center text-uppercase">{{ dish.name }}</h5>
    {% endif %}
      <div style="display: flex; flex-direction: row">
          <ul class="list-group list-group-flush mb-auto mt-0">
            <li class="list-group-item">Описание: {{ dish.description}}</li>
            <li class="list-group-item">Цена: {{ dish.base_price}} сом</li>
              {% for portion, portion_info  in dish.extra_price.items %}
                <li class="list-group-item">{{portion_info.comment}} - {{ portion_info.pricing }}сом ({{ portion }})</li>
              {% endfor %}
          </ul>
      </div>
    </div>
      <div class="card-footer">
      <small class="text-muted text-center">Категория: {{ dish.category }}</small>
    </div>
  </div>
  {% empty %}
<h2 class="text-center">Позиции отсутствуют</h2>
  {% endfor %}

</div>



    {% include 'partial/paginate.html' %}

{% endblock %}