{% extends 'base.html'%}

{% block menu %}
    <li><a href="{% url 'kitchen:create_supplement'  %}">Создать надбавку</a></li>
{% endblock %}

{% block content %}
    {% if organizations %}
            {% include "partial/search_form.html" %}
    {% endif %}

    {% if supplements %}
        <h3 class="m-3">Надбавки</h3>
    {% endif %}

    {% for supplement in supplements %}
    <div class="box">
    <ul class="list-group">
        <li class="list-group-item list-group-item-success"><a href="{% url "kitchen:detail_supplement" supplement.id %}"> id: {{ supplement.id }}. Название: {{ supplement.name }} </a></li>
    </ul>
    </div>

{% empty %}
    <h2 class="text-center">Надбавок нет. </h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}