{% extends 'base.html'%}

{% block menu %}
{% endblock %}

{% block content %}
    {% if supplements %}
            {% include "partial/search_form.html" %}
    {% endif %}

    {% if supplements %}
        <h3 class="m-3">Надбавки</h3>
    {% endif %}

    {% for supplement in supplements %}
    <div class="box">
    <ul class="list-group">
        {% if admin %}
            <li class="list-group-item list-group-item-success"><a href="{% url "kitchen:detail_update_supplement" supplement.id %}"> Название: {{ supplement.name }} - {{ supplement.price }}</a></li>
        {% else %}
            <li class="list-group-item list-group-item-success">Название: {{ supplement.name }} - {{ supplement.price }} сом </li>
        {% endif %}
    </ul>
    </div>

{% empty %}
    <h2 class="text-center">Надбавок нет. </h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}