{% extends 'base.html'%}

{% block menu %}
    <li><a href="{% url 'kitchen:create_supplement'  %}">Создать надбавку</a></li>
{% endblock %}

{% block content %}
    {% if organizations %}
            {% include "partial/search_form.html" %}
    {% endif %}

    {% for supplement in supplements %}
    <div class="box">
    <span><a href="{% url "kitchen:detail_supplement" supplement.id %}"> id надбавки: {{ supplement.id }}. Название: {{ supplement.name }} </a></span>
    </div>

{% empty %}
    <h2 class="text-center">Надбавок нет. </h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}