{% extends "base.html" %}
{% block title %}organization {{ organization.id }} balance{% endblock %}



{% block content %}
    <div>
        {% if organization.employe_org.count >= 1 %}
            <h1>Баланс компании {{ organization.name }}</h1>
        <table class="table ">
            <thead>
                <tr>
                <th scope="col">id</th>
                <th scope="col">Имя</th>
                <th scope="col">Telegram username </th>
                <th scope="col">Текущий баланс</th>
                <th scope="col">История изменения баланса</th>
                </tr>
            </thead>
            <tbody>
            {% for employee in organization.employe_org.all %}
                <tr>
                <th scope="row">{{ employee.id }}</th>
                <td>{{ employee.username }}</td>
                <td>{{ employee.tg_user.username }}</td>
                <td>{{ employee.total_balance }}</td>
                <td><a href="{% url 'employee-transactions' employee.id %}" class="btn btn-success btn-sm">посмотреть историю</a></td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <div class="text-end">
        <form method="post">
            {% include "partial/kitchen_form.html" %}
            <p><label>Сотрудник:</label></p>
            <select class="form-control" name="employee" >
                {% for employee in organization.employe_org.all %}
                    <option value="{{ employee.id }}">{{ employee }}</option>
                {% endfor %}
            </select>
            <p><input type="submit" value="обновить баланс" class="btn btn-warning mt-2"></p>
        </form>
    </div>
        </div>
        {% else %}
            <h2>Сотрудники компании "{{ organization.name }}" еще не зарегистрированы.</h2>
        {% endif %}

{% endblock %}