{% extends 'base.html'%}
{% block content %}
    <div class="mt-4">
        {% if organizations %}
            {% include "partial/search_form.html" %}
        {% endif %}
    </div>


    {% for organization in organizations %}
        <div class="col-sm-6 mt-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><a href="{% url 'kitchen:organization-detail-update' organization.id %}">{{ organization.name }} </a></h5>
          <p>ссылка для перехода: <span class="text-info"> {{ organization.generate_link }}</span></p>
          <p class="card-text">Сотрудники: {{ organization.employe_org.count }}</p>
          {% if organization.payment == 'cumulative'  %}
        <p class="card-text"> </p>
        <a href="{% url 'kitchen:organization-balance' organization.id %}" class="btn btn-primary">страница балансов</a>
                    {% endif %}q
      </div>
    </div>
  </div>

{% empty %}
    <h2 class="text-center">Такой организации у нас нет!</h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}