.menu {
    font-size: 14px;
    width: 100%;
    background-color: #98FB98;
}

.menu li {
    display: inline-block;
    align-content: end;
}
.menu a {
    display: inline-block;
    text-decoration: none;
    color: black;
    padding: 5px 15px;
}
.menu a:hover {
    color: #ffc122;
    text-decoration: underline;
}