body {
    /*margin-top: 60px;*/
    margin: 0;
    background-color: #fff;
    color: #000;
    font-size: 16px;
    line-height: 1.3;
    font-family: Arial, Helvetica, sans-serif;
}

.form-error {
    color: red;
    font-size: 12px;
    margin: 5px 0 0 0
}
.form-field-error {
    border: solid 1px red;
    box-shadow: red 0 0 3px;
    display: inline-block;
}

.main-page {
    background-color: #F0F3F4;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 15px;
}


.main-page h1 {
    font-size: 40px;
    color: #273746 ;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    margin-top: 100px;
}

.main-page #slogan {
    color: #85929E ;
    text-align: center;
}

.main-text {
    border: 5px black;
    margin-top: 50px;
}

.paginator-links {
text-align: center;
margin: 20px 0 0 ;
padding: 10px 0;
}

.paginator-links ul{
  list-style: none;
  margin: 0 2px;
  padding: 0;
}

.paginator-links li {
   display: inline-block;
   padding: 5px 5px;
}

.paginator-links a {
  font-weight: normal;
  padding: 10px 5px;
}
#123{
    margin-top: 100px;
}