{% extends 'base.html' %}

{% block content %}
<div class="container">
    <br/>

    <form action="{% url 'kitchen:commands' %}" method="post">
        <h5>Блок команды о создании заказа</h5>
        {% csrf_token %}
        {{ create_form.as_p }}
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>


    <form action="{% url 'kitchen:commands' %}" method="post">
        <h5>Блок команды напоминания о заказе</h5>
        {% csrf_token %}
        {{ close_form.as_p }}
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>


    <form action="{% url 'kitchen:commands' %}" method="post">
        <h5>Блок команды о закрытии заказа</h5>
        {% csrf_token %}
        {{ reminder_form.as_p }}
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>


    <form action="{% url 'kitchen:commands' %}" method="post">
        <h5>Блок оповещения</h5>
        {% csrf_token %}
        {{ notification_form.as_p }}
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>


    <form action="{% url 'kitchen:commands' %}" method="post">
        <h5>Блок команды о прибытии доставки</h5>
        {% csrf_token %}
        {{ delivery_arrival.as_p }}
        <p>
            <button type="submit">Submit</button>
        </p>
    </form>
</div>
{% endblock %}