{% extends 'base.html'%}
{% block content %}
    {% if dishes %}
            {% include "partial/search_form.html" %}
    {% endif %}


        <h2 class="text-center mt-4">Дополнения к позициям</h2>
        <div class="row">
        {% for additional in additionals %}
            <div class="col-lg-3 mb-4 mt-4">
                <div class="card h-100">
                  <div class="card-body additional-card">
                      {% if admin %}
                        <h5 class="card-title"><a  href="{% url 'kitchen:additional_detail_update' additional.id %}">{{ additional.name }}</a></h5>
                      {% else %}
                        <h5 class="card-title">{{ additional.name }}</h5>
                      {% endif %}
                      <ul class="list-group list-group-flush">
                      <li class="list-group-item">Очередность: {{ additional.sampling_order }}</li>
                      <li class="list-group-item">Базовая цена: {{ additional.base_price }}</li>
                      <li class="list-group-item"> <i>Добавочные цены:</i></li>
                      {% for portion, portion_info  in additional.extra_price.items %}
                        <li class="list-group-item">{{portion_info.comment}} - {{ portion_info.pricing }}сом ({{ portion }})</li>
                      {% endfor %}
                  </ul>
                  </div>
                </div>
            </div>
        {% empty %}
            <h2 class="text-center">Дополнений еще нет! </h2>
        {% endfor %}
        </div>








    {% include 'partial/paginate.html' %}

{% endblock %}