{% extends 'base.html'%}
{% block content %}
    {% if dishes %}
            {% include "partial/search_form.html" %}
    {% endif %}

    {% for additional in additionals %}
    <div class="box">
    <ul class="list-group">
         id: {{ additional.id }}. Название: <a  href="{% url 'kitchen:additional_detail_update' additional.id %}">{{ additional.name }}</a>
    </ul>
    </div>

{% empty %}
    <h2 class="text-center">Нет ещё такого дополнения </h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}