{% if not fields_only %}
        <form action="{{ action_url }}" method="{{ form_method }}" enctype="{{ enctype }}" class="form-inline justify-content-center">
            <div class="form-group">
                {% csrf_token %}
            {% endif %}
                {% for error in form.non_field_errors %}
                    <p class="error">{{ error }}</p>
                {% endfor %}
                {% for field in form %}
                    <div class="form-group">
                    <p><label for="{{ field.id_for_label }}">{{ field.label }}</label></p>
                   {% for error in field.errors %}
                       <p class="form-error">{{ error }}</p>
                   {% endfor %}
                   <p {% if field.errors %} class="form-field-error"{% endif %}>{{ field }}</p>
                    </div>
                {% endfor %}
            {% if not fields_only %}
                <input id="submit" class="btn btn-warning"  type="submit" value="{{ button_text|default:"Submit" }}"/>
             </div>
            </form>
{% endif %}







{#<script>#}
{#    function b() {#}


{#<script>#}
{#    function b() {#}
{#        $('#form input[type="text"]').val(localStorage.getItem('username'))#}
{#        localStorage.removeItem('username')#}
{#        localStorage.removeItem('is_active')#}
{#    }#}
{#    if (document.getElementsByClassName('error')[0]){#}
{#      b()#}
{#    }#}
{#    else if (document.getElementsByClassName('form-error')[0]){#}
{#        b()#}
{#    }#}
{#    else if (document.getElementsByClassName('form-field-error')[0]){#}
{#        b()#}
{#    }#}
{#</script>#}