<div class="d-flex justify-content-center ">
<ul class="pagination justify-content-center pagination-sm">
        {% if page_obj.has_previous %}
            <li class="page-item d-flex" >
            <a class="page-link" style="color: grey" href="?{% if query %}{{ query }}&{% endif %}page=1" tabindex="-1">&laquo; В начало</a>
            <a class="page-link" style="color: grey" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.previous_page_number }}">Назад</a>
            </li>
        {% else %}
            <li class="page-item disabled d-flex">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">В начало</a>
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Назад</a>
            <li>
        {% endif %}
    <li>
        <form method="get">
            {% if search_value %}<input type="hidden" name="search" value="{{ search_value }}">{% endif %}
            Страница <input type="text" name="page" id="page" value="{{ page_obj.number }}">
            из {{ page_obj.paginator.num_pages }}.
        </form>
    </li>
        {% if page_obj.has_next %}
            <li class="page-item d-flex">
            <a class="page-link" style="color: grey" href="?{% if query %}{{ query }}&{% endif %}page={{ page_obj.next_page_number }}">Далее</a>
            <a class="page-link" style="color: grey" href="?{% if query %}{{ query }}&{% endif %}page={{ paginator.num_pages }}">В конец &raquo;</a>
            </li>
        {% else %}
            <li class="page-item disabled d-flex">
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Далее</a>
            <a class="page-link" href="#" tabindex="-1" aria-disabled="true">В конец &raquo;</a>
            </li>
        {% endif %}
</ul>
</div>