
{% extends 'base.html'%}
{% block content %}
    {% if garnishes %}
        <div class="d-flex justify-content-center">
                {% include "partial/search_form.html" %}
            </div>
    {% endif %}
        {% if garnishes %} <div class="header-info-block"><h1 class="text-center mt-4">Гарниры</h1></div>{% endif %}
    <div style="display: flex; flex-direction: row; flex-wrap: wrap">

  {% for garnish in garnishes %}
  <div class="card" style="width: 18rem; margin: 10px">
    <div class="card-body">
    {% if admin %}
    <h5 class="card-title text-center text-uppercase"><a href="{% url 'kitchen:garnish-detail-update' garnish.id %}"> {{ garnish.name }}</a></h5>
    {% else %}
        <h5 class="card-title text-center text-uppercase">{{ garnish.name }}</h5>
    {% endif %}
      <div style="display: flex; flex-direction: row">
          <ul class="list-group list-group-flush">
              <li class="list-group-item">Очередность: {{ garnish.order }}</li>
              <li class="list-group-item">Базовая цена: {{ garnish.base_price }}</li>
               {% if not garnish.extra_price  or garnish.extra_price == "{}" %}
          {% else %}
              <li class="list-group-item"> <i>Добавочные цены:</i></li>
              {% for garnish, garnish_info  in garnish.extra_price.items %}
                <li class="list-group-item">{{garnish_info.comment}} - {{ garnish_info.pricing }}сом ({{ garnish }})</li>
              {% endfor %}
          {% endif %}
            </ul>
      </div>
    </div>
  </div>
  {% empty %}
<h2 class="text-center">Позиции отсутствуют</h2>
  {% endfor %}

</div>
    {% include 'partial/paginate.html' %}

{% endblock %}


