{% load static %}
{% load context_processors %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit-free.fontawesome.com/releases/v5.11.1/css/free.min.css" media="all">

    <link rel="stylesheet" href="{% static "css/style.css" %}">
    <link rel="stylesheet" href="{% static "css/navbar.css" %}">

</head>
<body>
    <div class="container">
        <div class="menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
              <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                  <li class="nav-item active">
                    <a class="nav-link" href="{% url 'index' %}">Главная<span class="sr-only">(current)</span></a>
                  </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Профиль
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item" href="{% url 'profile_distoken' %}">Мой профиль<span class="sr-only"></span></a></li>
                        {% block profile %} {% endblock profile %}

                    </ul>
                  </li>


                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Меню
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                       <li><a class="dropdown-item" href="{% url "kitchen:offering_list" %}">Предложения</a></li>
                       <li><a class="dropdown-item" href="{% url "kitchen:list_position" %}">Позиции</a></li><br>
                        <li><a class="dropdown-item" href="{% url "kitchen:list_garnish" %}">Гарниры</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:additional_list" %}">Дополнения к позициям</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:supplement-list" %}">Надбавки</a></li>
                    </ul>
                  </li>
                {% if admin %}
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                     Добавить
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item" href="{% url "kitchen:offering_create" %}">Добавить предложение</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:create_position" %}">Добавить позицию</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:category_create" %}">Добавить категорию</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:create_garnish" %}">Добавить гарнир</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:additional_create" %}">Добавить дополнение к позиции</a></li>
                        <li><a class="dropdown-item" href="{% url "kitchen:create_supplement" %}">Добавить надбавку</a></li>
                    </ul>
                {% endif %}

                        {% if admin %}
                            <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                             Панель Админа
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                <li><a class="dropdown-item" href="{% url 'kitchen:organization-list' %}">Все компании</a></li>
                                <li><a class="dropdown-item" href="{% url "kitchen:organization-create" %}">Добавить организацию</a><li>
                                <li><a class="dropdown-item" href="{% url "reviews_list" %}">Отзывы</a><li>
                            </ul>
                          </li>
                     {% endif %}
                  </li>

                 <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-shopping-cart"></i>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink" id="Cart">
                        {% for cart in carts %}
                        <div id="cart{{ cart.id }}">
                            <div><h6>{{ cart.offering.position.name }}</h6></div>
                            <div><p>Кол-во: {{ cart.qty }}</p></div>
                            <div>
                                <p>Цена за блюдо: {{ cart.portions.Position.price}} с</p>
                                <p>Порция блюда: {{ cart.portions.Position.portion }}</p>
                            </div>
                            {% if cart.portions.Garnish %}
                            <div>
                                <p>Гарнир: {{ cart.portions.Garnish.name }}</p>
                                <p>Порция: {{ cart.portions.Garnish.portion }}</p>
                                <p>Цена: {{ cart.portions.Garnish.price }} с</p>
                            </div>
                            {% endif %}
                            {% if cart.portions.Additional %}
                            <div>
                                <p>Добавка: {{ cart.portions.Additional.name }}</p>
                                <p>Порция: {{ cart.portions.Additional.portion }}</p>
                                <p>Цена: {{ cart.portions.Additional.price }} с</p>
                            </div>
                            {% endif %}
                        <div>
                            {% for sup in cart.offering.supplement.all %}
                                <p>{{ sup.name }} : {{ sup.price }} c</p>
                             {% endfor %}
                        </div>
                        <h6>Итог с предложения: {{ cart.price }} с</h6>
                                <a type="button" href="{% url 'kitchen:back_delete_cart' cart.pk %}">Удалить</a>
                        </div>
                        {% endfor %}
                    {% if carts %}
                    <div><a id="confirm" type="button" href="{% url 'kitchen:confirm_cart' %}">Confirm</a></div>
                    </div>
                    {% endif %}
                   {% block menu %}{% endblock menu %}
                </ul>
              </div>
            </nav>
        </div>

            {% block page_header %}{% endblock %}
    {% if messages %}
            {% for message in messages %}

                <div class="w-50 text-left mt-3">
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                </div>

            {% endfor %}
    {% endif %}
            {% block content %}
            {% endblock %}
    </div>


</body>
</html>

