{% extends 'base.html' %}

{% block content %}
    <div class="main-page" style="">
        <div class="main-page-block row">
            <div class="main-text col-sm-8 ">
                <h1 class="mom-s-kitchen" id="mom">Mom's Kitchen</h1>
                <p class="" id="slogan">Вкусная домашняя еда как у мамы</p>
            </div>
            <div class="main-image col-sm-4">
                <img src="../static/images/tarelka.png" alt="Tarelka" width="500" height="500">
            </div>
        </div>
    </div>

{% endblock %}