{% extends 'base.html'%}
{% block content %}
    {% if offerings %}
            {% include "partial/search_form.html" %}
    {% endif %}

    {% for offering in offerings %}
    <div class="box">
    <ul class="list-group">
        <p>id: {{ offering.id }} Название: <a href="{% url 'kitchen:offering-detail' offering.id %}">{{ offering.position.name }}</a> на {{ offering.date }}</p>
    </ul>
    </div>

{% empty %}
    <h2 class="text-center">Нет ещё такого предложения </h2>
{% endfor %}
<br>
    {% include 'partial/paginate.html' %}

{% endblock %}