{% extends "base.html" %}
{% block title %}Organization {{ organization.id }}{% endblock %}



{% block content %}
    <h2>
        {{ category.id }}. Компания "{{ category.category_name }}"
    </h2>
    <button type="button" id="edit_btn" class="btn btn-info">редактировать</button>
    <button type="button" id="cancel_btn" class="btn btn-info">отмена</button>
    <div id="form" class="d-grid gap-5">
    <form action="{% url "kitchen:category_update_detail" category.id %}" method="post">
            {% include "partial/form.html" with button_text="Обновить" %}
        </form>
    </div>


    <script>
    $(document).ready(function(){
        $("input").prop('disabled', true);
        $("#id_category_name").prop('disabled', true);
        $("#cancel_btn").hide()


    $("#edit_btn").click(function(){
        $("input").prop('disabled', false);
        $("#id_category_name").prop('disabled', false);
        $(this).hide()
        $("#cancel_btn").show()
    });

    $("#cancel_btn").click(function (){
        $("input").prop('disabled', true);
        $("#id_category_name").prop('disabled', true);
        $("#edit_btn").show()
        $(this).hide()
    })
});
    </script>
{% endblock %}